################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeycloakBlazorWebAssembly/.vs
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.ApiService/bin/Debug/net8.0
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.ApiService/obj
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.AppHost/bin/Debug/net8.0
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.AppHost/obj
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.ServiceDefaults/bin/Debug/net8.0
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.ServiceDefaults/obj
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.Web/bin/Debug/net8.0
/KeycloakBlazorWebAssembly/KeycloakBlazorWebAssembly.Web/obj
/KeycloakAspireBlazorWasmApp/.vs
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.ApiService/obj
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.ApiService/bin/Debug/net10.0
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.AppHost/bin/Debug/net10.0
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.AppHost/obj
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.ServiceDefaults/bin/Debug/net10.0
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.ServiceDefaults/obj
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.Web/bin/Debug/net10.0
/KeycloakAspireBlazorWasmApp/KeycloakAspireBlazorWasmApp.Web/obj
/SonarQubeMcpBadCode/obj/Debug/net8.0
/SonarQubeMcpBadCode/obj
